---
import Layout from '@layouts/Layout.astro';
import Header from '@components/HeaderFr.astro';
import Footer from '@components/Footer.astro';
import PageAction from '@components/PageActionFr.astro';
import PageTitle from '@components/PageTitle.astro';
---

<Layout title="Welcome to Astro.">

	<Header />

	<PageTitle />

	<main>
		<h1>Welcome to Index (fr)</h1>
	</main>

	<PageAction />
	
	<Footer />
	
</Layout>

<style>
	
</style>
