---
import Layout from '@layouts/Layout.astro';
import Header from '@components/HeaderEn.astro';
import Footer from '@components/Footer.astro';
import PageAction from '@components/PageActionEn.astro';
import PageTitle from '@components/PageTitle.astro';

import { Image } from 'astro:assets';
import meImage from '../../images/edwin-hurtado.jpg';

---

<Layout title="Welcome to Astro.">

	<Header />

	<PageTitle />
	
	<main class="main">
		<div class="bloque-imagen wow fadeInLeft" >
			<Image src={meImage} alt="Imagen perfil Edwin Alejandro Hurtado" width={550} sizes="(max-width: 900px) 400px, 900px"  class="imagen-perfil" loading="eager" decoding="async"/>
		</div>
		<div class="bloque-texto">
			<h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">ABOUT ME</h3>
			<p  class="texto1 wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">Hi, I'm a Systems and Computing Engineer, specialized in Software Construction at the Universidad de los Andes. I am currently a Software Architect at SoftOne, which is a company founded in 2008, specialized in Internet-based solutions and focused on the financial sector.</p>
			<p class="texto1 wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">I have extensive experience as a software architect, in solutions based on the Java EE platform and business portals. Leader of multiple technological projects, applying good practices, tools and standards to achieve successful projects.</p>
			<p  class="texto1 wow fadeInUp" data-wow-delay=".9s" data-wow-duration="500ms">My passion is entrepreneurship and software development, I like to try and be learning about new technologies and new ways of doing things.</p>
		</div>
	</main>

	<PageAction />
	
	<Footer />
	
</Layout>

<style>
.main{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.bloque-imagen{
	width: calc(50% - 20px);
}

.bloque-texto{
	width: calc(50% - 20px);
}

.imagen-perfil{
	width: 100%;
	vertical-align: middle;
}

.subtitle{
	font-size: 24px;
    font-weight: 600;
    margin-bottom: 18px;
    text-transform: uppercase;
	color: var(--color-bg1-text3);
	font-family: var(--font-family2);
}

.texto1{
	color: #727272;
	font-family: var(--font-family1);
	line-height: 22px;
	font-size: 16px;
	font-weight: 300;
}

@media (max-width: 800px) {
  .main {
    flex-direction: column;
  }
}
</style>
