---
import Layout from '@layouts/Layout.astro';
import Header from '@components/HeaderEn.astro';
import Footer from '@components/Footer.astro';
import PageAction from '@components/PageActionEn.astro';
import PageTitle from '@components/PageTitle.astro';

const dataPage = {
  title: "Gallery",
  description: "",
  keywords: "",
}
---

<Layout {dataPage}>

	<Header />

	<PageTitle title={dataPage.title}/>
	
	<main>
		<h1>Welcome to Gallery (en)</h1>
	</main>

	<PageAction />
	
	<Footer />
	
</Layout>

<style>
	
</style>
