---
const {titulo, texto1, texto2, boton} = Astro.props;
---
<section>
    <h2>{titulo}</h2>
    <p>{texto1}<br/>{texto2}</p>
    <a href="contact.html">{boton}</a>
</section>

<style>
section{
    padding: 15px 0px 30px 0px;
    background: var(--color-bg2);
    text-align: center;
}
h2 {
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-bg2-text1);

    visibility: visible;
    animation-duration: 500ms;
    animation-delay: 0.3s;
    animation-name: fadeInDown;
    animation-fill-mode: both;
}
p{
    color: var(--color-bg2-text1);

    visibility: visible;
    animation-duration: 500ms;
    animation-delay: 0.5s;
    animation-name: fadeInDown;
    animation-fill-mode: both;
}
a{
    display: inline-block;
    background: var(--color-bg2-text1);
    border: none;
    color: var(--color-bg2);
    padding: 16px 35px;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 0;

    visibility: visible;
    animation-duration: 500ms;
    animation-delay: 0.7s;
    animation-name: fadeInDown;
    animation-fill-mode: both;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
</style>