---
import Layout from '@layouts/Layout.astro';
import Header from '@components/HeaderEs.astro';
import Footer from '@components/Footer.astro';
import PageAction from '@components/PageActionEs.astro';
import PageTitle from '@components/PageTitle.astro';
---

<Layout title="Welcome to Astro.">

	<Header />

	<PageTitle />
	
	<main>
		<h1>Welcome to Portafolio (es)</h1>
	</main>

	<PageAction />
	
	<Footer />
	
</Layout>

<style>
	
</style>
